th,td{
  padding: 5px;
  border: 1px solid black;
  text-align: center;
}

.vista-pokemon{
  text-align: center;
  position: sticky;
  top:0;
  height: 500px;
}

.tipo{
  text-align: center;
  border-radius: 25px;
  color: white;
}
.normal{
  background-color: #A0A2A0;
}
.grass{
  background-color: #3DA224;
}
.poison{
  background-color: #923FCC;
}
.steel{
  background-color: #60A2B9;
}
.water{
  background-color: #2980EF;
}
.bug{
  background-color: #92A212;
}
.dragon{
  background-color: #4F60E2;
}
.electric{
  background-color: #FAC100;
}
.ghost{
  background-color: #703F70;
}
.fire{
  background-color: #E62829;
}
.fairy{
  background-color:#EF70EF;
}
.ice{
  background-color: #3DD9FF;
}
.fighting{
  background-color: #FF8100;
}
.rock{
  background-color: #B0AA82;
}
.ground{
  background-color: #92501B;
}
.psychic{
  background-color: #EF4179;
}
.dark{
  background-color: #50413F;
}
.fliying{
  background-color: #81B9EF;
}